@charset "UTF-8";
* {
  font-family: Ubuntu,Noto Sans TC,微軟正黑體;
  letter-spacing: 1px; }

.nav .container .navbar-brand {
  color: #333; }

.logo {
  background-color: #fff;
  text-align: center;
  margin: 0px 0px 20px 0px; }
  .logo img {
    min-width: 200px;
    width: 20%; }

section {
  text-align: center;
  color: #333;
  padding: 0px 0px 30px 0px; }
  section img {
    border: solid 1px #333;
    max-width: 1080px;
    width: 90%; }
  section h5 {
    text-align: left;
    margin: 80px 60px 0px 60px; }
  section h6 {
    text-align: left;
    font-size: 10px;
    margin: 10px 60px 0px 60px; }
  section p {
    text-align: justify;
    text-justify: inter-ideograph;
    font-size: 14px;
    margin: 80px 60px 80px 60px; }

.copyright {
  text-align: center;
  color: #e6e6e6;
  background-color: #333;
  padding: 20px 0px 5px 0px; }
