$color_orange: #E6874D
$color_red: #FF5F5F
$color_main: #182336

*
  font-family: Ubuntu,Noto Sans TC,微軟正黑體
  // border: solid 1px #666
  // debug
  // header
  //   display: none
  // section
  //   display: none
  // section#section_future
  //   display: block
html
  height: 100%
body
  height: 100%
  
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
  font-weight: bold

nav.navbar
  transition: 0.5s

nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  font-weight: bold
  background: white//transparent
  letter-spacing: 2px
  a
    color: $color_main
    transition: 0.5s
    &:hover
      color: $color_orange

//主頁大圖

header.jumbotron
  height: 100%
  text-align: center
  background-image: url(http://i.imgur.com/vgEgAeV.jpg)
  background-size: auto 115%
  background-repeat: no-repeat
  background-position: center -80px
  background-attachment: fixed
  margin-bottom: 0px
  letter-spacing: 3px
  .container
    color: white
    padding: 270px 0px
  h1
    background: $color_main
    display: inline-block
    padding: 5px 10px
    letter-spacing: 7px
    transition: 0.3s
    &:hover
      color: $color_orange
  //hr
    //max-width: 30px
    //border: solid 2px $color_orange
  h4
    font-weight: bold
    background: $color_main
    display: inline-block
    padding: 5px 10px
    transition: 0.3s
    //letter-spacing: 3px
    &:hover
      color: $color_orange

//第二個區塊

section
  padding: 50px 0px
  color: white
  letter-spacing: 5px
  background: $color_main
  //玩遊戲、構圖地圖、分享生活
  h3
    text-align: center
    margin-top: 35px
    margin-bottom: 35px
    color: $color_orange
  h2
    text-align: center
  h1
    text-align: center

section#section_ask
  background-color: $color_orange
  .col-sm-5.img
    background-image: url(https://www.booklife.com.tw/upload_files/booklife/website/g0200021%20-c2.jpg)
    height: 350px
    mix-blend-mode: multiply
  h2
    margin-top: 130px
    padding: 0px 20px
    
section#section_contact
  img
    padding: 60px 30px
    width: 200px
    transition: 0.5s
    text-align: center
    &:hover
      width: 230px
  .img_wrap
    height: 230px
    //overflow: hidden
    text-align: center
    transition: 0.5s
    //&:hover
      //height: 220px


header.contact
  color: white
  letter-spacing: 3px

.ppppp
  text-align: center
  padding: 30px 0px 
  letter-spacing: 5px
.contact
  height: 500px
  background: $color_main
  text-align: center

//版權聲明
.CC
  background: $color_main
  padding: 25px
  text-align: center
  color: white