*
	font-family: Ubuntu,Noto Sans TC,微軟正黑體
	letter-spacing: 1px
	//border: solid 0.5px #aaa

.nav
	& .container
		& .navbar-brand//定義手機版FIRESIDE顏色
			color: #333
.logo
	background-color: #fff
	text-align: center
	margin: 0px 0px 20px 0px
	& img
		min-width: 200px
		width: 20%
section
	text-align: center //置中
	// 首頁第一張封面定義
	color: #333
	padding: 0px 0px 140px 0px
	& img
		border: solid 1px #333
		max-width: 1080px
		width: 90%
.copyright
	text-align: center
	color: #e6e6e6
	background-color: #333
	padding: 20px 0px 5px 0px